.THIS {
}
.THIS .colorButton{
    font-size: 0;
    margin: 4px;
}
.THIS .color1{
    background-color: #c2dbf7;
}
.THIS .color2{
    background-color: #9de7da;
}
.THIS .color3{
    background-color: #9df0c0;
}
.THIS .color4{
    background-color: #fff099;
}
.THIS .color5{
    background-color: #fed49a;
}
.THIS .color6{
    background-color: #d073e0;
}
.THIS .color7{
    background-color: #5ebbff;
}
.THIS .color8{
    background-color: #f99221;
}
.THIS .color9{
    background-color: #bd35bd;
}
.THIS .color10{
    background-color: #5ecbdf;
}
.THIS .color11{
    background-color: #3cba4c;
}
.THIS .color12{
    background-color: #f94211;
}
.THIS .color13{
    background-color: #ffffff;
}
.THIS .color14{
    background-color: #aaaaaa;
}
.THIS .color15{
    background-color: #555555;
}
.THIS .color16{
    background-color: #000000;
}